<div>	
	<label for="name">Figurine Name</label>
	<input type="text" name="name" ng-model="figurine.name">
</div>
<div>	
	<label for="name">Quality</label>
	<input type="text" name="quality" ng-model="figurine.quality">
</div>
<div>	
	<label for="name">Height</label>
	<input type="text" name="height" ng-model="figurine.height">
</div>
<div>	
	<label for="name">Weight</label>
	<input type="text" name="weight" ng-model="figurine.weight">
</div>
<div>	
	<label for="name">Year</label>
	<input type="text" name="year" ng-model="figurine.year">
</div>
<div>	
	<label for="name">Price</label>
	<input type="text" name="price" ng-model="figurine.price">
</div>
<div>	
	<label for="name">Quantity</label>
	<input type="text" name="quantity" ng-model="figurine.quantity">
</div>
<div>	
	<label for="name">Description</label>
	<input type="text" name="description" ng-model="figurine.inventoryDescription">
</div>

<input type="hidden" name="geekId" ng-model="figurine.geekId">

<button ng-click="createFigurine()">Sell Your Figurine</button>